# -----------------------------------------------------------------------------
# Copyright © 2017 Yauheni Lychkouski. All Rights Reserved
#
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# -----------------------------------------------------------------------------
# File: constrains.ucf
# Description: Constrains
# -----------------------------------------------------------------------------

##############################################################################
# Timing Constraints #
##############################################################################

##### Grouping Constraints #####
NET  CLK_50M     TNM_NET = clk50_grp;
NET  SDRAM_CLK   TNM_NET = clk100_grp;
NET  clk         TNM_NET = clk100_grp;
#NET clk_6p140M  TNM_NET = clk6p140_grp;
#NET SYS_SPI_SCK TNM_NET = clk32_grp;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50     = PERIOD "clk50_grp"    50.000 MHz;
TIMESPEC TS_PER_CLK100    = PERIOD "clk100_grp"   100.000 MHz;
#TIMESPEC TS_PER_CLK6p140 = PERIOD "clk6p140_grp" 6.140 MHz;
#
#
#NET clk        TNM_NET = FFS GRP_100M;
#NET clk_6p140M TNM_NET = FFS GRP_6p140M;

#TIMESPEC TS_SLOW_TO_FAST = FROM "GRP_6p140M" TO "GRP_100M" 20 ns DATAPATHONLY;
#TIMESPEC TS_FAST_TO_SLOW = FROM "GRP_100M" TO "GRP_6p140M" 350 ns DATAPATHONLY;
#
#
#TIMESPEC TS_PER_CLK100 = PERIOD "clk100_grp" 10.0 ns;
#TIMESPEC TS_PER_CLK32  = PERIOD "clk32_grp" 20.0 ns;
#PIN "sys_clocks_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "clk_gen/clkout1_buf.O"        CLOCK_DEDICATED_ROUTE = FALSE;
#NET "SYS_SPI_SCK"                  CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "clk_gen/clkout1_buf.O"        CLOCK_DEDICATED_ROUTE = FALSE;

##############################################################################
# Pin LOC Constraints #
##############################################################################
NET "CLK_50M"               LOC = "P85"         | IOSTANDARD = LVTTL;

#Peripherals#############################################################
NET "LED<0>"                LOC = "P105"        | IOSTANDARD = LVTTL;       #SHARED WITH ARD_D6
NET "LED<1>"                LOC = "P104"        | IOSTANDARD = LVTTL;       #SHARED WITH ARD_D7
NET "PB<0>"                 LOC = "P102"        | IOSTANDARD = LVTTL;
#NET "PB<1>"                LOC = "P101"        | IOSTANDARD = LVTTL;
#NET "SW<0>"                LOC = "P99"         | IOSTANDARD = LVTTL;
#NET "SW<1>"                LOC = "P100"        | IOSTANDARD = LVTTL;
    

#SATA###########################################################################
#NET "SATA_D1_P"            LOC = "P127"        | IOSTANDARD = LVDS_33;
#NET "SATA_D1_N"            LOC = "P126"        | IOSTANDARD = LVDS_33;
#NET "SATA_D2_P"            LOC = "P121"        | IOSTANDARD = LVDS_33;
#NET "SATA_D2_N"            LOC = "P120"        | IOSTANDARD = LVDS_33;
            
#SDRAM#########################################################################
NET "SDRAM_CKE"             LOC = "P48"         | IOSTANDARD = LVTTL ;
NET "SDRAM_CLK"             LOC = "P50"         | IOSTANDARD = LVTTL | SLEW = FAST ;
NET "SDRAM_NCAS"            LOC = "P7"          | IOSTANDARD = LVTTL ;
NET "SDRAM_NRAS"            LOC = "P6"          | IOSTANDARD = LVTTL ;
NET "SDRAM_NWE"             LOC = "P8"          | IOSTANDARD = LVTTL ;
#NET "DRAM_CS_N" #CS IS PULLED LOW TO SAVE ON PIN COUNT - Can be pulled high with solder jumper on bottom of board
NET "SDRAM_BA<0>"           LOC = "P26"         | IOSTANDARD = LVTTL ;
NET "SDRAM_BA<1>"           LOC = "P27"         | IOSTANDARD = LVTTL ;
NET "SDRAM_DQML"            LOC = "P9"          | IOSTANDARD = LVTTL ;
NET "SDRAM_DQMH"            LOC = "P67"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<0>"            LOC = "P30"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<1>"            LOC = "P32"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<2>"            LOC = "P33"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<3>"            LOC = "P34"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<4>"            LOC = "P35"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<5>"            LOC = "P40"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<6>"            LOC = "P41"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<7>"            LOC = "P43"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<8>"            LOC = "P44"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<9>"            LOC = "P45"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<10>"           LOC = "P29"         | IOSTANDARD = LVTTL ;      
NET "SDRAM_A<11>"           LOC = "P46"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_A<12>"           LOC = "P47"         | IOSTANDARD = LVTTL ;      
NET "SDRAM_DQ<0>"           LOC = "P24"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<1>"           LOC = "P23"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<2>"           LOC = "P22"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<3>"           LOC = "P21"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<4>"           LOC = "P17"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<5>"           LOC = "P12"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<6>"           LOC = "P11"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<7>"           LOC = "P10"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<8>"           LOC = "P66"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<9>"           LOC = "P62"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<10>"          LOC = "P61"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<11>"          LOC = "P59"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<12>"          LOC = "P58"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<13>"          LOC = "P57"         | IOSTANDARD = LVTTL ;      
NET "SDRAM_DQ<14>"          LOC = "P56"         | IOSTANDARD = LVTTL ;  
NET "SDRAM_DQ<15>"          LOC = "P55"         | IOSTANDARD = LVTTL ;

##PMOD1#############################################################################
#NET "PMOD1<0>"             LOC = "P5"          | IOSTANDARD = LVTTL;
#NET "PMOD1<1>"             LOC = "P2"          | IOSTANDARD = LVTTL;
#NET "PMOD1<2>"             LOC = "P1"          | IOSTANDARD = LVTTL;
#NET "PMOD1<3>"             LOC = "P16"         | IOSTANDARD = LVTTL;
#NET "PMOD1<4>"             LOC = "P88"         | IOSTANDARD = LVTTL;
#NET "PMOD1<5>"             LOC = "P92"         | IOSTANDARD = LVTTL;
#NET "PMOD1<6>"             LOC = "P93"         | IOSTANDARD = LVTTL;
#NET "PMOD1<7>"             LOC = "P94"         | IOSTANDARD = LVTTL;
##PMOD2#############################################################################
#NET "PMOD2<0>"             LOC = "P142"        | IOSTANDARD = LVTTL;
#NET "PMOD2<1>"             LOC = "P141"        | IOSTANDARD = LVTTL;
#NET "PMOD2<2>"             LOC = "P15"         | IOSTANDARD = LVTTL;
#NET "PMOD2<3>"             LOC = "P14"         | IOSTANDARD = LVTTL;
#NET "PMOD2<4>"             LOC = "P144"        | IOSTANDARD = LVTTL;
#NET "PMOD2<5>"             LOC = "P143"        | IOSTANDARD = LVTTL;
#NET "PMOD2<6>"             LOC = "P140"        | IOSTANDARD = LVTTL;
#NET "PMOD2<7>"             LOC = "P139"        | IOSTANDARD = LVTTL;
##PMOD3#############################################################################
#NET "PMOD3<0>"             LOC = "P138"        | IOSTANDARD = LVCMOS33;
#NET "PMOD3<1>"             LOC = "P137"        | IOSTANDARD = LVTTL;
#NET "PMOD3<2>"             LOC = "P124"        | IOSTANDARD = LVTTL;
#NET "PMOD3<3>"             LOC = "P123"        | IOSTANDARD = LVTTL;
#NET "PMOD3<4>"             LOC = "P119"        | IOSTANDARD = LVTTL;
#NET "PMOD3<5>"             LOC = "P118"        | IOSTANDARD = LVTTL;
#NET "PMOD3<6>"             LOC = "P117"        | IOSTANDARD = LVTTL;
#NET "PMOD3<7>"             LOC = "P116"        | IOSTANDARD = LVTTL;
##PMOD4#############################################################################
#NET "PMOD4<0>"             LOC = "P112"        | IOSTANDARD = LVTTL;
#NET "PMOD4<1>"             LOC = "P111"        | IOSTANDARD = LVTTL;
#NET "PMOD4<2>"             LOC = "P132"        | IOSTANDARD = LVTTL;
#NET "PMOD4<3>"             LOC = "P131"        | IOSTANDARD = LVTTL;
# NET "PMOD4<4>"            LOC = "P115"        | IOSTANDARD = LVTTL;
# NET "PMOD4<5>"            LOC = "P114"        | IOSTANDARD = LVTTL;
# NET "PMOD4<6>"            LOC = "P134"        | IOSTANDARD = LVTTL;
# NET "PMOD4<7>"            LOC = "P133"        | IOSTANDARD = LVTTL;
#NET "PMOD4_4"              LOC = "P115"        | IOSTANDARD = LVTTL;
#NET "PMOD4_5"              LOC = "P114"        | IOSTANDARD = LVTTL;
#NET "PMOD4_6"              LOC = "P134"        | IOSTANDARD = LVTTL;
#NET "PMOD4_7"              LOC = "P133"        | IOSTANDARD = LVTTL;

#PMOD4 LVDS CONSTRAINTS#############################################################
#NET "P4_1_LVDS3_P"         LOC = "P112"        | IOSTANDARD = LVDS_33;
#NET "P4_2_LVDS3_N"         LOC = "P111"        | IOSTANDARD = LVDS_33;
#NET "P4_3_LVDS1_P"         LOC = "P132"        | IOSTANDARD = LVDS_33;
#NET "P4_4_LVDS1_N"         LOC = "P131"        | IOSTANDARD = LVDS_33;
#NET "P4_7_LVDS4_P"         LOC = "P115"        | IOSTANDARD = LVDS_33;
#NET "P4_8_LVDS4_N"         LOC = "P114"        | IOSTANDARD = LVDS_33;
#NET "P4_9_LVDS2_P"         LOC = "P134"        | IOSTANDARD = LVDS_33;
#NET "P4_10_LVDS2_N"        LOC = "P133"        | IOSTANDARD = LVDS_33;

#RASPBERRY-PI CONNECTOR###############################################################
#NET "SYS_SPI_MOSI"         LOC = "P65"         | IOSTANDARD = LVTTL;   #Shared - Used to clk bitstream data to fpga / ARduino MOSI
#NET "SYS_SPI_MISO"         LOC = "P75"         | IOSTANDARD = LVTTL;
#NET "SYS_SPI_SCK"          LOC = "P70"         | IOSTANDARD = LVTTL;   #Shared - Used to clk bitstream data to fpga / ARduino SCK
#NET "RP_SPI_CE0N"          LOC = "P79"         | IOSTANDARD = LVTTL;
##NET "RP_SPI_CE1N"         LOC = "P78"         | IOSTANDARD = LVTTL;
#NET "SYS_SDA"              LOC = "P98"         | IOSTANDARD = LVTTL;   #Shared with Arduino SDA
#NET "SYS_SCL"              LOC = "P97"         | IOSTANDARD = LVTTL;   #Shared with Arduino SCL
#UART FROM RASPBERRY PI - As labeled in the Rpi schematic
#NET "SYS_TX"                LOC= "P83"          | IOSTANDARD = LVTTL;   #Pi TX Pin      #Shared with Arduino TX
#NET "SYS_RX"               LOC= "P82"          | IOSTANDARD = LVTTL;   #Pi RX Pin      #Shared with Arduino RX
#NET "RP_GPIO_GCLK"         LOC = "P95"         | IOSTANDARD = LVTTL;
#NET "RP_GPIO_GEN2"         LOC = "P81"         | IOSTANDARD = LVTTL;
#NET "RP_GPIO_GEN3"         LOC = "P80"         | IOSTANDARD = LVTTL;

#ARDUINO HEADERS########################################################################
#SYS_SCL                                                                #Shared with RPI i2c        
#SYS_SDA                                                                #Shared with RPI i2c                                                    
#NET "ARD_SCK"              LOC= "P84"          | IOSTANDARD = LVTTL;   #D13
#NET "ARD_MISO"             LOC= "P87"          | IOSTANDARD = LVTTL;   #D12
#NET "ARD_MOSI"             LOC= "P51"          | IOSTANDARD = LVTTL;   `#D11
#NET "ARD_SS"               LOC= "P74"          | IOSTANDARD = LVTTL;   #D10
#NET "ARD_D9_FLSH_DI"       LOC= "P64"          | IOSTANDARD = LVTTL;   #D9
#NET "ARD_D8_FLSH_CS"       LOC= "P38"          | IOSTANDARD = LVTTL;   #D8





//global system clock
NET "CLK_50M_IN" 		LOC = A10 	| IOSTANDARD = LVTTL;
//reset signal
NET "sys_rst_n" 		LOC = R7 	| IOSTANDARD = LVTTL;
//led_1 signal
NET "led_1" 			LOC = T9 	| IOSTANDARD = LVTTL;
//led_2 signal
NET "led_2" 			LOC = R9 	| IOSTANDARD = LVTTL;

//100M SDRAM Clock
NET "SDCLK0" 			LOC = H1 	| IOSTANDARD = LVTTL;
//SDCKE0
NET "SDCKE0" 			LOC = J1 	| IOSTANDARD = LVTTL;
//DQML
NET "DQM[0]"			LOC = F3 	| IOSTANDARD = LVTTL;
//DQMH
NET "DQM[1]"			LOC = H2 	| IOSTANDARD = LVTTL;
//CAS
NET "CAS" 				LOC = H3 	| IOSTANDARD = LVTTL;
//RAS
NET "RAS" 				LOC = J4 	| IOSTANDARD = LVTTL;
//SDWE
NET "SDWE" 				LOC = G3 	| IOSTANDARD = LVTTL;
//SDCS0
NET "SDCS0" 			LOC = J3 	| IOSTANDARD = LVTTL;

//Data[0]
NET "Data[0]" 			LOC = A3 	| IOSTANDARD = LVTTL;
//Data[1]
NET "Data[1]" 			LOC = A2 	| IOSTANDARD = LVTTL;
//Data[2]
NET "Data[2]" 			LOC = B3 	| IOSTANDARD = LVTTL;
//Data[3]
NET "Data[3]" 			LOC = B2 	| IOSTANDARD = LVTTL;
//Data[4]
NET "Data[4]" 			LOC = C3 	| IOSTANDARD = LVTTL;
//Data[5]
NET "Data[5]" 			LOC = C2 	| IOSTANDARD = LVTTL;
//Data[6]
NET "Data[6]" 			LOC = D3 	| IOSTANDARD = LVTTL;
//Data[7]
NET "Data[7]" 			LOC = E3 	| IOSTANDARD = LVTTL;
//Data[8]
NET "Data[8]" 			LOC = G1 	| IOSTANDARD = LVTTL;
//Data[9]
NET "Data[9]" 			LOC = F1 	| IOSTANDARD = LVTTL;
//Data[10]
NET "Data[10]" 		LOC = F2 	| IOSTANDARD = LVTTL;
//Data[11]
NET "Data[11]" 		LOC = E1 	| IOSTANDARD = LVTTL;
//Data[12]
NET "Data[12]" 		LOC = E2 	| IOSTANDARD = LVTTL;
//Data[13]
NET "Data[13]" 		LOC = D1 	| IOSTANDARD = LVTTL;
//Data[14]
NET "Data[14]" 		LOC = C1 	| IOSTANDARD = LVTTL;
//Data[15]
NET "Data[15]" 		LOC = B1 	| IOSTANDARD = LVTTL;

//Address[0]
NET "Address[0]" 		LOC = L4 	| IOSTANDARD = LVTTL;
//Address[1]
NET "Address[1]" 		LOC = M3 	| IOSTANDARD = LVTTL;
//Address[2]
NET "Address[2]" 		LOC = M4 	| IOSTANDARD = LVTTL;
//Address[3]
NET "Address[3]" 		LOC = N3 	| IOSTANDARD = LVTTL;
//Address[4]
NET "Address[4]" 		LOC = R2 	| IOSTANDARD = LVTTL;
//Address[5]
NET "Address[5]" 		LOC = R1 	| IOSTANDARD = LVTTL;
//Address[6]
NET "Address[6]" 		LOC = P2 	| IOSTANDARD = LVTTL;
//Address[7]
NET "Address[7]" 		LOC = P1 	| IOSTANDARD = LVTTL;
//Address[8]
NET "Address[8]" 		LOC = N1 	| IOSTANDARD = LVTTL;
//Address[9]
NET "Address[9]" 		LOC = M1 	| IOSTANDARD = LVTTL;
//Address[10]
NET "Address[10]" 	LOC = L3 	| IOSTANDARD = LVTTL;
//Address[11]
NET "Address[11]" 	LOC = L1 	| IOSTANDARD = LVTTL;
//Address[12]
NET "Address[12]" 	LOC = K1 	| IOSTANDARD = LVTTL;

//Bank[0]
NET "Bank[0]" 			LOC = K3 	| IOSTANDARD = LVTTL;
//Bank[1]
NET "Bank[1]" 			LOC = K2 	| IOSTANDARD = LVTTL;
